*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
img{
    width: 50px;
    height: 50px;
 
    margin: 10px;
}

.option {
    padding-top:20px ;
    margin-right: 100px;
}
a{
    font-size: 26px;
    text-decoration: none;
    margin: 10px;
    
    
}
.desc{
    display: flex;
   
}

.firstpart{
    width:50%;
    margin-top:200px;
    justify-content: center;
    margin-left: 50px;
}
.firstparth3{
    font-size: 50px;
    color: rgb(42, 42, 138);
}
.firstpart span{
    color: red;
}
.firstpart p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
}
.btn1{
margin-top: 20px;

}
.btn1 .bttn1{
    background-color: red;
    color: aliceblue;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
   
}
.btn1 .bttn2{
    background-color: rgb(43, 10, 104);
    color: aliceblue;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
   
}
.secondpart{
    margin: 60px;
    margin-left: 200px;
    margin-top: 150px;
}
.secondpart img{
    width: 500px;
    height: 500px;
}
.firstp{
    display: flex;
}
.firstp_first h3{
    margin-bottom: 5px;
    font-size: 32px;
}
.info{
    text-align: center;
    margin:10px ;
    margin-bottom: 0px;
    background-color: #ddd;
}
.info h4{
    padding-top: 20px;
    color: red;
    font-size:24px ;
}
.info h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 22, 122);
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 45px;
}
.info h2 span{
    color: red;
}
.info p{
    font-size: 20px;
    font-weight: bold;
}
.product_firstpart{
    background-color: #ddd;
}
.thirdp{
    margin-top: 100px;
    margin-left: 40px;
}
.thirdp img{
    width: 500px;
    height: 500px;
}
.firstp_firstside{
    padding-top: 200px;
    padding-left: 20px;
    
}
.flex{
    display: flex;
    margin-bottom: 30px;
}
.info2{
    text-align: center;
    margin-top: 20px;
}
.info2 h4{
    color: red;
    font-size: 24px;
}
.info2 h2{
    color: rgb(22, 22, 122);
    font-size: 45px;
}
.info2 p{
    font-weight: bold;
}
.watch_pic{
    width: 40%;
    

}
.watch_pic img{
    padding-top:100px ;
    padding-left: 100px;
    width: 500px;
    height: 700px;
}
.product_details{
    display: flex;
}
.watchss{
    margin:30px;
    margin-top: 100px;
    display: flex;
}
.watch{
    text-align: center;
    width: 300px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
    height: 250px;
    margin-right:20px ;
}
.thank{
    text-align: center;
    font-weight: bold;
    color: chocolate;
    background-color: rgb(174, 175, 177);
    border-radius:10px ;
}